In [196]:
#!/usr/bin/env python3

'''
#@author narumeena
#@project norfScore
#@description 1) seprate pathgenic varaints from hgmd and clinvar 
#2) combine all pathogenic variants 
#3) seprate human drive benign variants 
#4) mapp to norfs regions 
#5) prepare them for caan and annovar annotation as vcf and annova inpout file format

'''

'\n#@author narumeena\n#@project norfScore\n#@description 1) seprate pathgenic varaints from hgmd and clinvar \n#2) combine all pathogenic variants \n#3) seprate human drive benign variants \n#4) mapp to norfs regions \n#5) prepare them for caan and annovar annotation as vcf and annova inpout file format\n\n'

In [197]:
import pandas as pd 
import pybedtools as bedtool

# mapping all variants to norfs

# HGMD dataset


_coding regions_


bedtools intersect -a ../../norfs/coding/norfs_coding_only_hg38.bed.gz -b ../../../data/input/variants/HGMD_PRO_2016.4_hg38.vcf.gz -wo | grep 'CLASS=DM;' > hgmd_mapped_to_coding_norfs_hg38.tsv

bedtools intersect -a ../../norfs/coding/norfs_coding_only_hg38.bed.gz -b ../../../data/input/variants/HGMD_PRO_2016.4_hg38.vcf.gz -wb | grep 'CLASS=DM;' > hgmd_mapped_to_coding_norfs_hg38.vcf

_noncoding norfs_

bedtools intersect -b ../../norfs/noncoding/norfs_noncoding_only_hg38.bed.gz -a ../../../data/input/variants/HGMD_PRO_2016.4_hg38.vcf.gz -wo | grep 'CLASS=DM;' > hgmd_DM_only_mapped_to_noncoding_norfs_hg38.tsv

bedtools intersect -b ../../norfs/noncoding/norfs_noncoding_only_hg38.bed.gz -a ../../../data/input/variants/HGMD_PRO_2016.4_hg38.vcf.gz -wa | grep 'CLASS=DM;' > hgmd_DM_only_mapped_to_noncoding_norfs_hg38.vcf

_all norfs_

bedtools intersect -b ../../norfs/allnorfs/norfs_all_hg38.bed.gz -a ../../../data/input/variants/HGMD_PRO_2016.4_hg38.vcf.gz -wo  | grep 'CLASS=DM;' > hgmd_DM_only_all_norfs_hg38.tsv

bedtools intersect -b ../../norfs/allnorfs/norfs_all_hg38.bed.gz -a ../../../data/input/variants/HGMD_PRO_2016.4_hg38.vcf.gz -wa  | grep 'CLASS=DM;' > hgmd_DM_only_all_norfs_hg38.vcf

# clinvar Dataset

_coding norfs_

bedtools intersect -a ../../norfs/coding/norfs_coding_only_hg38.bed.gz -b ../../../data/input/variants/clinvar_20190429.vcf.gz -wo | grep 'CLNSIG=Pathogenic;' > clinvar_pathogenic_norf_coding_region..tsv

 bedtools intersect -a ../../norfs/coding/norfs_coding_only_hg38.bed.gz -b ../../../data/input/variants/clinvar_20190429.vcf.gz -wb | grep 'CLNSIG=Pathogenic;' > clinvar_pathogenic_norf_coding_region.vcf

_noncoding norfs_

bedtools intersect -b ../../norfs/noncoding/norfs_noncoding_only_hg38.bed.gz  -a ../../../data/input/variants/clinvar_20190429.vcf.gz -wa | grep 'CLNSIG=Pathogenic;' > clinvar_pathogenic_norf_noncoding_region.vcf

bedtools intersect -b ../../norfs/noncoding/norfs_noncoding_only_hg38.bed.gz  -a ../../../data/input/variants/clinvar_20190429.vcf.gz -wo | grep 'CLNSIG=Pathogenic;' > clinvar_pathogenic_norf_noncoding_region.tsv

_allnorfs_

bedtools intersect -b ../../norfs/allnorfs/norfs_all_hg38.bed.gz  -a ../../../data/input/variants/clinvar_20190429.vcf.gz -wo | grep 'CLNSIG=Pathogenic;' > clinvar_pathogenic_all_norf.tsv

bedtools intersect -b ../../norfs/allnorfs/norfs_all_hg38.bed.gz  -a ../../../data/input/variants/clinvar_20190429.vcf.gz -wa | grep 'CLNSIG=Pathogenic;' > clinvar_pathogenic_all_norf.vcf

# human Drive Dataset

#coding norfs

bedtools intersect -a ../../norfs/coding/norfs_coding_only_hg38.bed.gz -b ../../../data/input/variants/humanDerived_SNVs_with_id.vcf.gz -wo  > humanDriven_coding_region_norfs.tsv 
    

bedtools intersect -b ../../norfs/coding/norfs_coding_only_hg38.bed.gz -a ../../../data/input/variants/humanDerived_SNVs_with_id.vcf.gz -wa  > humanDriven_coding_region_norfs.vcf


##noncoding region

bedtools intersect -b ../../norfs/noncoding/norfs_noncoding_only_hg38.bed.gz -a ../../../data/input/variants/humanDerived_SNVs_with_id.vcf.gz -wa  > humanDriven_noncoding_region_norfs.vcf


bedtools intersect -b ../../norfs/noncoding/norfs_noncoding_only_hg38.bed.gz -a ../../../data/input/variants/humanDerived_SNVs_with_id.vcf.gz -wo  > humanDriven_noncoding_region_norfs.tsv

##all norfs

bedtools intersect -b ../../norfs/allnorfs/norfs_all_hg38.bed.gz -a ../../../data/input/variants/humanDerived_SNVs_with_id.vcf.gz -wo  > humanDriven_all_norfs.tsv

bedtools intersect -b ../../norfs/allnorfs/norfs_all_hg38.bed.gz -a ../../../data/input/variants/humanDerived_SNVs_with_id.vcf.gz -wa  > humanDriven_all_norfs.vcf

humanDriven = pd.read_csv('../../data/input/variants/humanDerived_SNVs_with_id.vcf.gz', compression='gzip', 
                         sep='\t', error_bad_lines=False)

# coding norfs

# pathogenic only

In [198]:
hgmd_coding_norfs = pd.read_csv('../../analysis/variantsMappedOnnORFs/codingnorfs/hgmd_DM_only_mapped_to_coding_norfs_hg38.vcf.gz', compression='gzip', header= None,
                         sep='\t', error_bad_lines=False, )

/home/narumeena/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [199]:
hgmd_coding_norfs.head()

,0,1,2,3,4,5,6,7
0,1,943995,CM1613953,C,T,.,.,CLASS=DM;MUT=ALT;GENE=SAMD11;STRAND=+;DNA=NM_1...
1,1,943995,CM1613953,C,T,.,.,CLASS=DM;MUT=ALT;GENE=SAMD11;STRAND=+;DNA=NM_1...
2,1,943995,CM1613953,C,T,.,.,CLASS=DM;MUT=ALT;GENE=SAMD11;STRAND=+;DNA=NM_1...
3,1,943995,CM1613953,C,T,.,.,CLASS=DM;MUT=ALT;GENE=SAMD11;STRAND=+;DNA=NM_1...
4,1,943995,CM1613953,C,T,.,.,CLASS=DM;MUT=ALT;GENE=SAMD11;STRAND=+;DNA=NM_1...

In [200]:
hgmd_coding_norfs.shape

(388771, 8)

In [201]:
clinvar_coding_norfs = pd.read_csv('../../analysis/variantsMappedOnnORFs/codingnorfs/clinvar_pathogenic_norf_coding_region.vcf.gz', compression='gzip', header= None,
                         sep='\t', error_bad_lines=False, )

/home/narumeena/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [202]:
clinvar_coding_norfs.head()

,0,1,2,3,4,5,6,7
0,1,1014143,183381,C,T,.,.,"ALLELEID=181485;CLNDISDB=MedGen:C4015293,OMIM:..."
1,1,1014143,183381,C,T,.,.,"ALLELEID=181485;CLNDISDB=MedGen:C4015293,OMIM:..."
2,1,1022225,243036,G,A,.,.,AF_EXAC=0.00001;ALLELEID=244110;CLNDISDB=MedGe...
3,1,1022225,243036,G,A,.,.,AF_EXAC=0.00001;ALLELEID=244110;CLNDISDB=MedGe...
4,1,1022313,243037,A,T,.,.,"ALLELEID=244111;CLNDISDB=MedGen:C0751882,Orpha..."

In [203]:
clinvar_coding_norfs.shape

(177352, 8)

In [204]:
pathogenic_coding = pd.concat([hgmd_coding_norfs[[0,1,2,3,4,5,6]],
                               clinvar_coding_norfs[[0,1,2,3,4,5,6]]], ignore_index=True).drop_duplicates()

In [205]:
pathogenic_coding.head()

    0        1          2  3  4  5  6
0   1   943995  CM1613953  C  T  .  .
6   1  1014143  CM1411641  C  T  .  .
8   1  1022225   CM148517  G  A  .  .
10  1  1022313   CM148518  A  T  .  .
11  1  1041582   CM126385  C  T  .  .

In [206]:
pathogenic_coding.shape

(165034, 7)

In [207]:
#saving the data 
compression_opts = dict(method='gzip',
                        archive_name='pathogenic_coding_only_hg38.vcf')  
pathogenic_coding.to_csv('../../analysis/slectedVariantsmappedTonorfs/codingNorfs/pathogenic/pathogenic_coding_only_hg38.vcf.gz', index=False,
                                                                          header= False, sep= "\t", compression=compression_opts)

# benign only

In [208]:
humanDriven_coding_norfs = pd.read_csv('../../analysis/variantsMappedOnnORFs/codingnorfs/humanDriven_coding_region_norfs.vcf.gz', compression='gzip', header= None,
                         sep='\t', error_bad_lines=False ).drop_duplicates().sample(frac=0.045)

In [209]:
humanDriven_coding_norfs.head()

          0          1          2  3  4
1278172   2  152735331  152735331  T  G
8058856  16   56792636   56792636  A  G
3873700   6  161854735  161854735  T  C
8621589  18    3615338    3615338  A  G
6473181  12   51269554   51269554  A  C

In [210]:
humanDriven_coding_norfs.shape

(169909, 5)

In [211]:
#saving the data 
compression_opts = dict(method='gzip',
                        archive_name='benign_coding_only_hg38.vcf')  
humanDriven_coding_norfs.to_csv('../../analysis/slectedVariantsmappedTonorfs/codingNorfs/benign/benign_coding_only_hg38.vcf.gz', index=False,
                                                                          header= False, sep= "\t", compression=compression_opts)

# noncoding norfs

# pathogenic only

In [212]:
hgmd_noncoding_norfs = pd.read_csv('../../analysis/variantsMappedOnnORFs/noncodingnorfs/hgmd_DM_only_mapped_to_noncoding_norfs_hg38.vcf.gz', compression='gzip', header= None,
                         sep='\t', error_bad_lines=False, )

In [213]:
hgmd_noncoding_norfs.head()

,0,1,2,3,4,5,6,7
0,1,25306730,CS165426,G,T,.,.,CLASS=DM;MUT=ALT;GENE=RHD;STRAND=+;DNA=NM_0161...
1,1,25316999,CS165427,G,A,.,.,CLASS=DM;MUT=ALT;GENE=RHD;STRAND=+;DNA=NM_0161...
2,1,25317010,CM165421,C,T,.,.,CLASS=DM;MUT=ALT;GENE=RHD;STRAND=+;DNA=NM_0161...
3,1,25321905,CD165423,TA,T,.,.,CLASS=DM;MUT=ALT;GENE=RHD;STRAND=+;DNA=NM_0161...
4,1,25321905,CD165423,TA,T,.,.,CLASS=DM;MUT=ALT;GENE=RHD;STRAND=+;DNA=NM_0161...

In [214]:
hgmd_noncoding_norfs.shape

(154, 8)

In [215]:
clinvar_noncoding_norfs = pd.read_csv('../../analysis/variantsMappedOnnORFs/noncodingnorfs/clinvar_pathogenic_norf_noncoding_region.vcf.gz', compression='gzip', header= None,
                         sep='\t', error_bad_lines=False, )

In [216]:
clinvar_noncoding_norfs.head()

,0,1,2,3,4,5,6,7
0,2,44942392,489225,T,A,.,.,ALLELEID=481655;CLNDISDB=MedGen:CN517202;CLNDN...
1,2,44942443,6099,G,T,.,.,"ALLELEID=21138;CLNDISDB=MedGen:C1834877,OMIM:1..."
2,2,44942456,280334,GC,G,.,.,ALLELEID=264103;CLNDISDB=MedGen:CN517202;CLNDN...
3,2,121530916,218084,G,A,.,.,"ALLELEID=214738;CLNDISDB=MedGen:C1846059,OMIM:..."
4,2,121530929,30184,G,A,.,.,AF_EXAC=0.00009;ALLELEID=39140;CLNDISDB=MedGen...

In [217]:
clinvar_noncoding_norfs.shape

(235, 8)

In [218]:
pathogenic_noncoding = pd.concat([hgmd_noncoding_norfs[[0,1,2,3,4,5,6]],
                               clinvar_noncoding_norfs[[0,1,2,3,4,5,6]]], ignore_index=True).drop_duplicates()

In [219]:
pathogenic_noncoding.head()

   0         1         2   3  4  5  6
0  1  25306730  CS165426   G  T  .  .
1  1  25316999  CS165427   G  A  .  .
2  1  25317010  CM165421   C  T  .  .
3  1  25321905  CD165423  TA  T  .  .
5  2  44942375  CM122195   C  T  .  .

In [220]:
pathogenic_noncoding.shape

(303, 7)

In [221]:
#saving the data 
compression_opts = dict(method='gzip',
                        archive_name='pathogenic_noncoding_only_hg38.vcf')  
pathogenic_noncoding.to_csv('../../analysis/slectedVariantsmappedTonorfs/noncodingNorfs/pathogenic/pathogenic_noncoding_only_hg38.vcf.gz', index=False,
                                                                          header= False, sep= "\t", compression=compression_opts)

# benign only

In [222]:
humanDriven_noncoding_norfs = pd.read_csv('../../analysis/variantsMappedOnnORFs/noncodingnorfs/humanDriven_noncoding_region_norfs.vcf.gz', compression='gzip',
                                       header= None,sep='\t', error_bad_lines=False ).drop_duplicates().sample(frac=0.003)

In [223]:
humanDriven_noncoding_norfs.head()

         0          1          2  3  4
55505    4  129896441  129896441  T  C
189779  17   30745526   30745526  G  A
42906    3   91427470   91427470  G  A
178460  15  100738019  100738019  C  T
54579    4  116285985  116285985  T  C

In [224]:
humanDriven_noncoding_norfs.shape

(487, 5)

In [225]:
#saving the data 
compression_opts = dict(method='gzip',
                        archive_name='benign_noncoding_only_hg38.vcf')  
humanDriven_noncoding_norfs.to_csv('../../analysis/slectedVariantsmappedTonorfs/noncodingNorfs/benign/benign_noncoding_only_hg38.vcf.gz', index=False,
                                                                          header= False, sep= "\t", compression=compression_opts)

# all norfs

# pathogenic only

In [226]:
hgmd_all_norfs = pd.read_csv('../../analysis/variantsMappedOnnORFs/allorfs/hgmd_DM_only_all_norfs_hg38.vcf.gz', compression='gzip', header= None,
                         sep='\t', error_bad_lines=False, )

/home/narumeena/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [227]:
hgmd_all_norfs.head()

,0,1,2,3,4,5,6,7
0,1,943995,CM1613953,C,T,.,.,CLASS=DM;MUT=ALT;GENE=SAMD11;STRAND=+;DNA=NM_1...
1,1,943995,CM1613953,C,T,.,.,CLASS=DM;MUT=ALT;GENE=SAMD11;STRAND=+;DNA=NM_1...
2,1,943995,CM1613953,C,T,.,.,CLASS=DM;MUT=ALT;GENE=SAMD11;STRAND=+;DNA=NM_1...
3,1,943995,CM1613953,C,T,.,.,CLASS=DM;MUT=ALT;GENE=SAMD11;STRAND=+;DNA=NM_1...
4,1,943995,CM1613953,C,T,.,.,CLASS=DM;MUT=ALT;GENE=SAMD11;STRAND=+;DNA=NM_1...

In [228]:
hgmd_all_norfs.shape

(388925, 8)

In [229]:
clinvar_all_norfs = pd.read_csv('../../analysis/variantsMappedOnnORFs/allorfs/clinvar_pathogenic_all_norf.vcf.gz', compression='gzip', header= None,
                         sep='\t', error_bad_lines=False, )

/home/narumeena/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [230]:
clinvar_all_norfs.head()

,0,1,2,3,4,5,6,7
0,1,1014143,183381,C,T,.,.,"ALLELEID=181485;CLNDISDB=MedGen:C4015293,OMIM:..."
1,1,1014143,183381,C,T,.,.,"ALLELEID=181485;CLNDISDB=MedGen:C4015293,OMIM:..."
2,1,1022225,243036,G,A,.,.,AF_EXAC=0.00001;ALLELEID=244110;CLNDISDB=MedGe...
3,1,1022225,243036,G,A,.,.,AF_EXAC=0.00001;ALLELEID=244110;CLNDISDB=MedGe...
4,1,1022313,243037,A,T,.,.,"ALLELEID=244111;CLNDISDB=MedGen:C0751882,Orpha..."

In [231]:
clinvar_all_norfs.shape

(177587, 8)

In [232]:
pathogenic_all = pd.concat([hgmd_coding_norfs[[0,1,2,3,4,5,6]],
                               clinvar_coding_norfs[[0,1,2,3,4,5,6]]], ignore_index=True).drop_duplicates()

In [233]:
pathogenic_all.head()

    0        1          2  3  4  5  6
0   1   943995  CM1613953  C  T  .  .
6   1  1014143  CM1411641  C  T  .  .
8   1  1022225   CM148517  G  A  .  .
10  1  1022313   CM148518  A  T  .  .
11  1  1041582   CM126385  C  T  .  .

In [234]:
pathogenic_all.shape

(165034, 7)

In [235]:
#saving the data 
compression_opts = dict(method='gzip',
                        archive_name='pathogenic_all_hg38.vcf')  
pathogenic_all.to_csv('../../analysis/slectedVariantsmappedTonorfs/allNorfs/pathogenic/pathogenic_all_hg38.vcf.gz', index=False,
                                                                          header= False, sep= "\t", compression=compression_opts)

# benign only

In [240]:
humanDriven_all_norfs = pd.read_csv('../../analysis/variantsMappedOnnORFs/allorfs/humanDriven_all_norfs.vcf.gz', compression='gzip', header= None,
                         sep='\t', error_bad_lines=False ).drop_duplicates().sample(frac=0.043)

In [241]:
humanDriven_all_norfs.head()

          0          1          2  3  4
1032876   2   63619587   63619587  A  C
1520952   2  207536004  207536004  A  G
8194093  16   27755929   27755929  A  G
1870283   3   42969854   42969854  C  G
2653114   4   95490713   95490713  G  A

In [242]:
humanDriven_all_norfs.shape

(168906, 5)

In [243]:
#saving the data 
compression_opts = dict(method='gzip',
                        archive_name='benign_all_hg38.vcf')  
humanDriven_all_norfs.to_csv('../../analysis/slectedVariantsmappedTonorfs/allNorfs/benign/benign_all_hg38.vcf.gz', index=False,
                                                                          header= False, sep= "\t", compression=compression_opts)