In [2]:
#!/usr/bin/env python3

'''
#@author narumeena
#@project norfScore
#@description seprating coding and noncoding norfs 
##combine norfs files from matt and cera and seprate the norfs based on their annotation 

'''

'\n#@author narumeena\n#@project norfScore\n#@description seprating coding and noncoding norfs \n##combine norfs files from matt and cera and seprate the norfs based on their annotation \n\n'

In [3]:
import pandas as pd

# Data from matt

matt provided the files in bed format. he also provided the norfs \
categrizatio for of 
norfs if its coming from coding regions 
and nong coding regions

In [4]:
norf_class_matt = pd.read_csv('../../data/input/nORF/nORFsFromMatt/nORFclassification.tsv.gz', compression='gzip', 
                         sep='\t', error_bad_lines=False)

In [5]:
norf_class_matt.head()

,novelORF_ID,transcript_ID,transcriptBiotype,ORFannotation,inFrame,codingRegion
0,001aH1,ENST00000457540,unprocessed_pseudogene,pseudogene,False,False
1,001bH1,ENST00000457540,unprocessed_pseudogene,pseudogene,False,False
2,002kH1,ENST00000414273,unprocessed_pseudogene,pseudogene,False,False
3,002kH2,ENST00000414273,unprocessed_pseudogene,pseudogene,False,False
4,002nH1,ENST00000414273,unprocessed_pseudogene,pseudogene,False,False

In [147]:
norf_class_matt.shape

(233021, 6)

# Data from cera

cera added few more norfs that are included in total norfs

In [148]:
norf_class_cera = pd.read_csv('../../data/input/nORF/nORFsFromCera/ribORFclassification.tsv.gz', compression='gzip', 
                         sep='\t', error_bad_lines=False)

In [149]:
norf_class_cera.head()

,novelORF_ID,transcript_ID,transcriptBiotype,ORFannotation,inFrame,codingRegion
0,tracer1,ENST00000488147,unprocessed_pseudogene,pseudogene,False,False
1,tracer10,ENST00000414273,unprocessed_pseudogene,pseudogene,False,False
2,tracer100,ENST00000477894,nonsense_mediated_decay,nmd,True,True
3,tracer1000,ENST00000376804,protein_coding,cds,True,True
4,tracer10000,ENST00000430210,unprocessed_pseudogene,pseudogene,False,False

In [150]:
norf_class_cera.shape

(111250, 6)

# combine all norfs classess

In [151]:
norf_class = pd.concat([norf_class_matt,norf_class_cera], ignore_index=True).drop_duplicates()

In [152]:
norf_class.head()

,novelORF_ID,transcript_ID,transcriptBiotype,ORFannotation,inFrame,codingRegion
0,001aH1,ENST00000457540,unprocessed_pseudogene,pseudogene,False,False
1,001bH1,ENST00000457540,unprocessed_pseudogene,pseudogene,False,False
2,002kH1,ENST00000414273,unprocessed_pseudogene,pseudogene,False,False
3,002kH2,ENST00000414273,unprocessed_pseudogene,pseudogene,False,False
4,002nH1,ENST00000414273,unprocessed_pseudogene,pseudogene,False,False

In [153]:
norf_class.shape

(344271, 6)

# norfs bed file

In [154]:
norf_bed_file = pd.read_csv('../../data/input/nORF/nORF_db_v2_without_chr.bed.gz', compression='gzip', header= None,
                         sep='\t', error_bad_lines=False, names=['chr','start','end','novelORF_ID','score','strand'])

/home/narumeena/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [155]:
norf_bed_file.head()

  chr   start     end novelORF_ID  score strand
0   1   92108   92231      1ig9H1      0      -
1   1  268684  268807      1iggH1      0      -
2   1  485182  495306      1igvH2      0      -
3   1  629921  629981      001aH1      0      +
4   1  630008  630038      001bH1      0      +

merge class and bed file using inner join

In [156]:
norfs_with_class_annotation = pd.merge(left=norf_class, right=norf_bed_file, 
                                       left_on='novelORF_ID', right_on='novelORF_ID')

In [157]:
norfs_with_class_annotation.head()

,novelORF_ID,transcript_ID,transcriptBiotype,ORFannotation,inFrame,codingRegion,chr,start,end,score,strand
0,001aH1,ENST00000457540,unprocessed_pseudogene,pseudogene,False,False,1,629921,629981,0,+
1,001bH1,ENST00000457540,unprocessed_pseudogene,pseudogene,False,False,1,630008,630038,0,+
2,002kH1,ENST00000414273,unprocessed_pseudogene,pseudogene,False,False,1,631378,631582,0,+
3,002kH2,ENST00000414273,unprocessed_pseudogene,pseudogene,False,False,1,631406,631451,0,+
4,002nH1,ENST00000414273,unprocessed_pseudogene,pseudogene,False,False,1,632072,632615,0,+

In [158]:
norfs_with_class_annotation.shape

(296009, 11)

# coding regions norfs

In [159]:
coding_norfs = norfs_with_class_annotation.loc[norfs_with_class_annotation['codingRegion'] == True]

In [160]:
coding_norfs.head()

,novelORF_ID,transcript_ID,transcriptBiotype,ORFannotation,inFrame,codingRegion,chr,start,end,score,strand
11,00aeH2,ENST00000425657,retained_intron,retained_intron,False,True,1,851944,852067,0,+
13,00ayH1,ENST00000342066,protein_coding,cds-intronic,False,True,1,925942,926017,0,+
14,00ayH2,ENST00000342066,protein_coding,cds,False,True,1,925942,930155,0,+
15,00bfH1,ENST00000341065,protein_coding,cds-intronic,False,True,1,939088,939133,0,+
16,00bfH2,ENST00000341065,protein_coding,cds,False,True,1,939088,939371,0,+

In [161]:
coding_norfs.shape

(274709, 11)

write norfs to a file

In [162]:
coding_norfs[['chr','start','end','novelORF_ID','score','strand']].head()

   chr   start     end novelORF_ID  score strand
11   1  851944  852067      00aeH2      0      +
13   1  925942  926017      00ayH1      0      +
14   1  925942  930155      00ayH2      0      +
15   1  939088  939133      00bfH1      0      +
16   1  939088  939371      00bfH2      0      +

In [163]:
compression_opts = dict(method='gzip',
                        archive_name='norfs_coding_only_hg38.bed')

In [164]:
coding_norfs[['chr','start','end','novelORF_ID','score','strand']].to_csv('../../analysis/norfs/coding/norfs_coding_only_hg38.bed.gz', index=False,
                                                                          header= False, sep= "\t", compression=compression_opts)

# noncoding region norfs

In [165]:
noncoding_norfs = norfs_with_class_annotation.loc[norfs_with_class_annotation['codingRegion'] == False]

In [166]:
noncoding_norfs.head()

,novelORF_ID,transcript_ID,transcriptBiotype,ORFannotation,inFrame,codingRegion,chr,start,end,score,strand
0,001aH1,ENST00000457540,unprocessed_pseudogene,pseudogene,False,False,1,629921,629981,0,+
1,001bH1,ENST00000457540,unprocessed_pseudogene,pseudogene,False,False,1,630008,630038,0,+
2,002kH1,ENST00000414273,unprocessed_pseudogene,pseudogene,False,False,1,631378,631582,0,+
3,002kH2,ENST00000414273,unprocessed_pseudogene,pseudogene,False,False,1,631406,631451,0,+
4,002nH1,ENST00000414273,unprocessed_pseudogene,pseudogene,False,False,1,632072,632615,0,+

In [167]:
noncoding_norfs.shape

(21300, 11)

In [168]:
noncoding_norfs[['chr','start','end','novelORF_ID','score','strand']].head()

  chr   start     end novelORF_ID  score strand
0   1  629921  629981      001aH1      0      +
1   1  630008  630038      001bH1      0      +
2   1  631378  631582      002kH1      0      +
3   1  631406  631451      002kH2      0      +
4   1  632072  632615      002nH1      0      +

In [169]:
compression_opts = dict(method='gzip',
                        archive_name='norfs_noncoding_only_hg38.bed')

In [170]:
noncoding_norfs[['chr','start','end',
              'novelORF_ID','score',
                 'strand']].to_csv('../../analysis/norfs/noncoding/norfs_noncoding_only_hg38.bed.gz', 
                                                                          index=False,
                                                                          header= False, sep= "\t",
                                   compression=compression_opts)

# all norfs

In [171]:
compression_opts = dict(method='gzip',
                        archive_name='norfs_all_hg38.bed')

In [172]:
norfs_with_class_annotation[['chr','start','end',
              'novelORF_ID','score',
                 'strand']].to_csv('../../analysis/norfs/allnorfs/norfs_all_hg38.bed.gz', 
                                                                          index=False,
                                                                          header= False, sep= "\t",
                                   compression=compression_opts)