In [70]:
#!/usr/bin/env python3
##@author narumeena
##@description slect only thoes variants that lie in coding region of genome

In [71]:
import numpy as np
import pandas as pd
import dask.dataframe as dd

In [72]:
#classification of nORFs
classified = pd.read_csv("../data/input/nORF/nORFclassification.tsv",sep="\t")
classified.head()

,novelORF_ID,transcript_ID,transcriptBiotype,ORFannotation,inFrame,codingRegion
0,001aH1,ENST00000457540,unprocessed_pseudogene,pseudogene,False,False
1,001bH1,ENST00000457540,unprocessed_pseudogene,pseudogene,False,False
2,002kH1,ENST00000414273,unprocessed_pseudogene,pseudogene,False,False
3,002kH2,ENST00000414273,unprocessed_pseudogene,pseudogene,False,False
4,002nH1,ENST00000414273,unprocessed_pseudogene,pseudogene,False,False

In [73]:
len(classified)

233021

In [74]:
classified = classified[classified['codingRegion'] == True]
classified.head()

,novelORF_ID,transcript_ID,transcriptBiotype,ORFannotation,inFrame,codingRegion
11,00aeH2,ENST00000425657,retained_intron,retained_intron,False,True
13,00ayH1,ENST00000342066,protein_coding,cds-intronic,False,True
14,00ayH2,ENST00000342066,protein_coding,cds,False,True
15,00bfH1,ENST00000341065,protein_coding,cds-intronic,False,True
16,00bfH2,ENST00000341065,protein_coding,cds,False,True

In [75]:
len(classified)

218838

In [76]:
#mapped variants to nORFs
varinats_hgmd = pd.read_csv("../analysis/variantsMappedOnnORFs/hgmd/hgmd_mapped_nORF.txt",sep="\t",header=None, converters={i: str for i in range(250)})
varinats_hgmd = varinats_hgmd[[0,1,3,4,11]]
varinats_hgmd.columns = ['Chr', 'End','Ref','Alt','novelORF_ID']
varinats_hgmd.head()

  Chr      End Ref Alt novelORF_ID
0   1   939111   C   T      00bfH1
1   1   939111   C   T      00bfH2
2   1  1014143   C   T      00eqH3
3   1  1014143   C   T      00eqH5
4   1  1022225   G   A      00ezH1

In [77]:
varinats_clinvar = pd.read_csv("../analysis/variantsMappedOnnORFs/clinvar/clinvar_mapped_nORF.txt",sep="\t",header=None, converters={i: str for i in range(250)})
varinats_clinvar = varinats_clinvar[[0,1,3,4,11]]
varinats_clinvar.columns = ['Chr', 'End','Ref','Alt','novelORF_ID']
varinats_clinvar.head()

  Chr      End Ref Alt novelORF_ID
0   1  1014042   G   A      00eqH3
1   1  1014122   C   T      00eqH3
2   1  1014122   C   T      00eqH5
3   1  1014143   C   T      00eqH3
4   1  1014143   C   T      00eqH5

In [78]:
varinats_human_drive = pd.read_csv("../analysis/variantsMappedOnnORFs/humanDrive/humanDrive_mapped_nORF.txt",sep="\t",header=None, converters={i: str for i in range(250)})
varinats_human_drive = varinats_human_drive[[0,1,3,4,8]]
varinats_human_drive.columns = ['Chr', 'End','Ref','Alt','novelORF_ID']
varinats_human_drive.head()

  Chr      End Ref Alt novelORF_ID
0   1   918509   A   G      1ihrH1
1   1   924227   T   G      1ihvH2
2   1   975043   T   C      00diH1
3   1   999749   A   G      1ikuH1
4   1  1001225   C   T      00epH1

In [79]:
#hgmd variants from coding region 

coding_variants_hgmd = pd.merge(classified, varinats_hgmd, how='inner',on=['novelORF_ID'])
coding_variants_hgmd = coding_variants_hgmd[['Chr', 'End','Ref','Alt','novelORF_ID']] 
coding_variants_hgmd.head()

  Chr      End Ref Alt novelORF_ID
0   1   939111   C   T      00bfH1
1   1   939111   C   T      00bfH2
2   1  1014143   C   T      00eqH3
3   1  1014143   C   T      00eqH5
4   1  1022225   G   A      00ezH1

In [80]:
#clinvar variants from coding regions 

coding_variants_clinvar = pd.merge(classified, varinats_clinvar, how='inner',on=['novelORF_ID'])
coding_variants_clinvar = coding_variants_clinvar[['Chr', 'End','Ref','Alt','novelORF_ID']] 
coding_variants_clinvar.head()

  Chr      End Ref Alt novelORF_ID
0   1  1014042   G   A      00eqH3
1   1  1014122   C   T      00eqH3
2   1  1014143   C   T      00eqH3
3   1  1014179   C   T      00eqH3
4   1  1014217   C   T      00eqH3

In [81]:
#human drive from coding region and drop duplicates 
coding_variants_human_drive = pd.merge(classified, varinats_human_drive, how='inner',on=['novelORF_ID'])
coding_variants_human_drive = coding_variants_human_drive[['Chr', 'End','Ref','Alt','novelORF_ID']] 
coding_variants_human_drive = coding_variants_human_drive[['Chr', 'End','Ref','Alt']].drop_duplicates()
coding_variants_human_drive.head()

  Chr      End Ref Alt
0   1   975043   T   C
1   1  1001225   C   T
2   1  1001313   G   T
3   1  1001422   G   A
4   1  1001780   G   A

In [82]:
#concate two dataframe and drop duplicates 
coding_variants_hgmd_clinvar = pd.concat([coding_variants_hgmd,coding_variants_clinvar],axis=0, join='outer',ignore_index=True)
coding_variants_hgmd_clinvar = coding_variants_hgmd_clinvar[['Chr', 'End','Ref','Alt']].drop_duplicates() 
coding_variants_hgmd_clinvar.head()

  Chr      End Ref Alt
0   1   939111   C   T
2   1  1014143   C   T
4   1  1022225   G   A
5   1  1041582   C   T
6   1  1041648   G   T

In [83]:
#attributes
pathogenic = pd.read_csv("../analysis/trainingDataSet/pathogenic_with_all_attributes_cat_uniqe.tsv",sep="\t", 
                         converters={i: str for i in range(250)})
pathogenic.head()

,Chr,End,Ref,Alt,Type,Length,AnnoType,Consequence,ConsScore,ConsDetail,...,BP4,BP5,BP6,BP7,cosmic70,MCAP,REVEL,regsnp_fpr,regsnp_disease,regsnp_splicing_site
0,1,1041582,C,T,SNV,0,CodingTranscript,STOP_GAINED,8,stop_gained,...,0,0,0,0,.,.,.,.,.,.
1,1,1041582,C,T,SNV,0,RegulatoryFeature,REGULATORY,4,regulatory,...,0,0,0,0,.,.,.,.,.,.
2,1,1042136,T,TC,INS,1,CodingTranscript,FRAME_SHIFT,7,frameshift,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1051775,G,A,SNV,0,CodingTranscript,NON_SYNONYMOUS,7,missense,...,0,0,0,0,.,0.628188449661,0.571,.,.,.
4,1,1051775,G,A,SNV,0,Intergenic,UPSTREAM,1,upstream,...,0,0,0,0,.,0.628188449661,0.571,.,.,.

In [84]:
pathogenic = pathogenic.loc[pathogenic['Ref'].isin(['A','T','G','C'])]

In [85]:
pathogenic = pathogenic.loc[pathogenic['Alt'].isin(['A','T','G','C'])]

In [86]:
tbfs = dd.read_csv("../data/input/tbfs/snp2tfbs_JASPAR_CORE_2014_vertwithout_chr.bed",sep="\t",header=None,
                   names=["Chr","Start","End","Ref","Alt","rsid","tfbs","tfbsName","tbfsScore"], converters={i: str for i in range(250)})

In [87]:
tbfs.head()

,Chr,Start,End,Ref,Alt,rsid,tfbs,tfbsName,tbfsScore
0,1,10615,10616,CCGCCGTTGCAAAGGCGCGCCG,C,rs376342519,1,NRF1,10
1,1,11011,11012,C,G,rs544419019,2,"PLAG1,EGR1","609,-186"
2,1,13109,13110,G,A,rs540538026,3,"ZNF263,PRDM1,SPIB","376,-9,0"
3,1,13115,13116,T,G,rs62635286,2,"ZNF263,PRDM1","376,-9"
4,1,13117,13118,A,G,rs200579949,2,"ZNF263,PRDM1","376,-9"

In [88]:
pathogenic[["Chr","End","Ref","Alt"]].head()

  Chr      End Ref Alt
0   1  1041582   C   T
1   1  1041582   C   T
3   1  1051775   G   A
4   1  1051775   G   A
5   1  1233073   A   C

In [89]:
pathogenic = dd.merge(pathogenic,tbfs, how='left', on=['Chr', 'End', 'Ref','Alt']).compute()

In [90]:
coding_pathogenic = dd.merge(pathogenic, coding_variants_hgmd_clinvar,how='inner', on=['Chr', 'End', 'Ref','Alt']) 
coding_pathogenic.head()

,Chr,End,Ref,Alt,Type,Length,AnnoType,Consequence,ConsScore,ConsDetail,...,MCAP,REVEL,regsnp_fpr,regsnp_disease,regsnp_splicing_site,Start_y,rsid,tfbs,tfbsName,tbfsScore
0,1,1806503,A,G,SNV,0,CodingTranscript,NON_SYNONYMOUS,7,missense,...,0.0360599486135,0.515,.,.,.,NaN,NaN,NaN,NaN,NaN
1,1,1806515,T,C,SNV,0,CodingTranscript,NON_SYNONYMOUS,7,missense,...,0.653446970564,0.906,.,.,.,NaN,NaN,NaN,NaN,NaN
2,1,6040603,G,A,SNV,0,CodingTranscript,NON_SYNONYMOUS,7,missense,...,0.0635892354651,0.261,.,.,.,NaN,NaN,NaN,NaN,NaN
3,1,7962814,T,C,SNV,0,CodingTranscript,NON_SYNONYMOUS,7,missense,...,0.311690713096,0.914,.,.,.,NaN,NaN,NaN,NaN,NaN
4,1,7962814,T,C,SNV,0,RegulatoryFeature,REGULATORY,4,regulatory,...,0.311690713096,0.914,.,.,.,NaN,NaN,NaN,NaN,NaN

In [91]:
list(coding_pathogenic.columns)

['Chr',
 'End',
 'Ref',
 'Alt',
 'Type',
 'Length',
 'AnnoType',
 'Consequence',
 'ConsScore',
 'ConsDetail',
 'GC',
 'CpG',
 'motifECount',
 'motifEName',
 'motifEHIPos',
 'motifEScoreChng',
 'oAA',
 'nAA',
 'GeneID',
 'FeatureID',
 'GeneName',
 'CCDS',
 'Intron',
 'Exon',
 'cDNApos',
 'relcDNApos',
 'CDSpos',
 'relCDSpos',
 'protPos',
 'relProtPos',
 'Domain',
 'Dst2Splice',
 'Dst2SplType',
 'minDistTSS',
 'minDistTSE',
 'SIFTcat',
 'SIFTval',
 'PolyPhenCat',
 'PolyPhenVal',
 'priPhCons',
 'mamPhCons',
 'verPhCons',
 'priPhyloP',
 'mamPhyloP',
 'verPhyloP',
 'bStatistic',
 'targetScan',
 'mirSVR-Score',
 'mirSVR-E',
 'mirSVR-Aln',
 'cHmm_E1',
 'cHmm_E2',
 'cHmm_E3',
 'cHmm_E4',
 'cHmm_E5',
 'cHmm_E6',
 'cHmm_E7',
 'cHmm_E8',
 'cHmm_E9',
 'cHmm_E10',
 'cHmm_E11',
 'cHmm_E12',
 'cHmm_E13',
 'cHmm_E14',
 'cHmm_E15',
 'cHmm_E16',
 'cHmm_E17',
 'cHmm_E18',
 'cHmm_E19',
 'cHmm_E20',
 'cHmm_E21',
 'cHmm_E22',
 'cHmm_E23',
 'cHmm_E24',
 'cHmm_E25',
 'GerpRS',
 'GerpRSpval',
 'GerpN',
 'GerpS',
 'tOverlapMotifs',
 'motifDist',
 'EncodeH3K4me1-sum',
 'EncodeH3K4me1-max',
 'EncodeH3K4me2-sum',
 'EncodeH3K4me2-max',
 'EncodeH3K4me3-sum',
 'EncodeH3K4me3-max',
 'EncodeH3K9ac-sum',
 'EncodeH3K9ac-max',
 'EncodeH3K9me3-sum',
 'EncodeH3K9me3-max',
 'EncodeH3K27ac-sum',
 'EncodeH3K27ac-max',
 'EncodeH3K27me3-sum',
 'EncodeH3K27me3-max',
 'EncodeH3K36me3-sum',
 'EncodeH3K36me3-max',
 'EncodeH3K79me2-sum',
 'EncodeH3K79me2-max',
 'EncodeH4K20me1-sum',
 'EncodeH4K20me1-max',
 'EncodeH2AFZ-sum',
 'EncodeH2AFZ-max',
 'EncodeDNase-sum',
 'EncodeDNase-max',
 'EncodetotalRNA-sum',
 'EncodetotalRNA-max',
 'Grantham',
 'Dist2Mutation',
 'Freq100bp',
 'Rare100bp',
 'Sngl100bp',
 'Freq1000bp',
 'Rare1000bp',
 'Sngl1000bp',
 'Freq10000bp',
 'Rare10000bp',
 'Sngl10000bp',
 'EnsembleRegulatoryFeature',
 'dbscSNV-ada_score',
 'dbscSNV-rf_score',
 'RemapOverlapTF',
 'RemapOverlapCL',
 'RawScore',
 'PHRED',
 'Start_x',
 'Func.refGene',
 'Gene.refGene',
 'GeneDetail.refGene',
 'ExonicFunc.refGene',
 'AAChange.refGene',
 'Func.knownGene',
 'Gene.knownGene',
 'GeneDetail.knownGene',
 'ExonicFunc.knownGene',
 'AAChange.knownGene',
 'Func.ensGene',
 'Gene.ensGene',
 'GeneDetail.ensGene',
 'ExonicFunc.ensGene',
 'AAChange.ensGene',
 'SIFT_score',
 'SIFT_pred',
 'Polyphen2_HDIV_score',
 'Polyphen2_HDIV_pred',
 'Polyphen2_HVAR_score',
 'Polyphen2_HVAR_pred',
 'LRT_score',
 'LRT_pred',
 'MutationTaster_score',
 'MutationTaster_pred',
 'MutationAssessor_score',
 'MutationAssessor_pred',
 'FATHMM_score',
 'FATHMM_pred',
 'RadialSVM_score',
 'RadialSVM_pred',
 'LR_score',
 'LR_pred',
 'VEST3_score',
 'CADD_raw',
 'CADD_phred',
 'GERP++_RS',
 'phyloP46way_placental',
 'phyloP100way_vertebrate',
 'SiPhy_29way_logOdds',
 'Interpro_domain',
 'SIFT_score.1',
 'SIFT_converted_rankscore',
 'SIFT_pred.1',
 'Polyphen2_HDIV_score.1',
 'Polyphen2_HDIV_rankscore',
 'Polyphen2_HDIV_pred.1',
 'Polyphen2_HVAR_score.1',
 'Polyphen2_HVAR_rankscore',
 'Polyphen2_HVAR_pred.1',
 'LRT_score.1',
 'LRT_converted_rankscore',
 'LRT_pred.1',
 'MutationTaster_score.1',
 'MutationTaster_converted_rankscore',
 'MutationTaster_pred.1',
 'MutationAssessor_score.1',
 'MutationAssessor_score_rankscore',
 'MutationAssessor_pred.1',
 'FATHMM_score.1',
 'FATHMM_converted_rankscore',
 'FATHMM_pred.1',
 'PROVEAN_score',
 'PROVEAN_converted_rankscore',
 'PROVEAN_pred',
 'VEST3_score.1',
 'VEST3_rankscore',
 'MetaSVM_score',
 'MetaSVM_rankscore',
 'MetaSVM_pred',
 'MetaLR_score',
 'MetaLR_rankscore',
 'MetaLR_pred',
 'M-CAP_score',
 'M-CAP_rankscore',
 'M-CAP_pred',
 'CADD_raw.1',
 'CADD_raw_rankscore',
 'CADD_phred.1',
 'DANN_score',
 'DANN_rankscore',
 'fathmm-MKL_coding_score',
 'fathmm-MKL_coding_rankscore',
 'fathmm-MKL_coding_pred',
 'Eigen_coding_or_noncoding',
 'Eigen-raw',
 'Eigen-PC-raw',
 'GenoCanyon_score',
 'GenoCanyon_score_rankscore',
 'integrated_fitCons_score',
 'integrated_fitCons_score_rankscore',
 'integrated_confidence_value',
 'GERP++_RS.1',
 'GERP++_RS_rankscore',
 'phyloP100way_vertebrate.1',
 'phyloP100way_vertebrate_rankscore',
 'phyloP20way_mammalian',
 'phyloP20way_mammalian_rankscore',
 'phastCons100way_vertebrate',
 'phastCons100way_vertebrate_rankscore',
 'phastCons20way_mammalian',
 'phastCons20way_mammalian_rankscore',
 'SiPhy_29way_logOdds.1',
 'SiPhy_29way_logOdds_rankscore',
 'Interpro_domain.1',
 'GTEx_V6_gene',
 'GTEx_V6_tissue',
 'dbscSNV_ADA_SCORE',
 'dbscSNV_RF_SCORE',
 'InterVar_automated',
 'PVS1',
 'PS1',
 'PS2',
 'PS3',
 'PS4',
 'PM1',
 'PM2',
 'PM3',
 'PM4',
 'PM5',
 'PM6',
 'PP1',
 'PP2',
 'PP3',
 'PP4',
 'PP5',
 'BA1',
 'BS1',
 'BS2',
 'BS3',
 'BS4',
 'BP1',
 'BP2',
 'BP3',
 'BP4',
 'BP5',
 'BP6',
 'BP7',
 'cosmic70',
 'MCAP',
 'REVEL',
 'regsnp_fpr',
 'regsnp_disease',
 'regsnp_splicing_site',
 'Start_y',
 'rsid',
 'tfbs',
 'tfbsName',
 'tbfsScore']

In [92]:
case = coding_pathogenic[["Ref","Alt","Consequence","GC","CpG","motifECount","motifEHIPos","oAA","nAA","cDNApos",
           "relcDNApos","CDSpos","relCDSpos","protPos","relProtPos","Domain","Dst2Splice","Dst2SplType",
           "minDistTSS","minDistTSE","SIFTcat","SIFTval","PolyPhenCat","PolyPhenVal","priPhCons","mamPhCons",
           "verPhCons","priPhyloP","mamPhyloP","verPhyloP","bStatistic","cHmm_E1","cHmm_E2","cHmm_E3","cHmm_E4",
           "cHmm_E5","cHmm_E6","cHmm_E7","cHmm_E8","cHmm_E9","cHmm_E10","cHmm_E11","cHmm_E12","cHmm_E13",
           "cHmm_E14","cHmm_E15","cHmm_E16","cHmm_E17","cHmm_E18","cHmm_E19","cHmm_E20","cHmm_E21","cHmm_E22",
           "cHmm_E23","cHmm_E24","cHmm_E25","GerpRS","GerpRSpval","GerpN","GerpS","tOverlapMotifs","motifDist",
           "EncodeH3K4me1-max","EncodeH3K4me2-max","EncodeH3K4me3-max","EncodeH3K9ac-max","EncodeH3K9me3-max",
           "EncodeH3K27ac-max","EncodeH3K27me3-max","EncodeH3K36me3-max","EncodeH3K79me2-max","EncodeH4K20me1-max",
           "EncodeH2AFZ-max","EncodeDNase-max","EncodetotalRNA-max","Grantham","SIFT_score","Polyphen2_HDIV_score",
           "Polyphen2_HVAR_score","LRT_score","MutationTaster_score","MutationAssessor_score","LR_score","GERP++_RS",
           "phyloP100way_vertebrate","SiPhy_29way_logOdds","PROVEAN_score","MetaSVM_score","MetaLR_score",
           "integrated_fitCons_score","phyloP20way_mammalian","phastCons100way_vertebrate",
           "phastCons20way_mammalian","AAChange.refGene","AAChange.knownGene", "AAChange.ensGene",
            "FATHMM_score","M-CAP_score","EnsembleRegulatoryFeature","dbscSNV-ada_score",
            "dbscSNV-rf_score","RemapOverlapTF","tfbs"]]

#additional ,"AAChange.refGene","AAChange.knownGene", "AAChange.ensGene","FATHMM_score","M-CAP_score","EnsembleRegulatoryFeature","dbscSNV-ada_score", "dbscSNV-rf_score","RemapOverlapTF"


case.head()

,Ref,Alt,Consequence,GC,CpG,motifECount,motifEHIPos,oAA,nAA,cDNApos,...,AAChange.refGene,AAChange.knownGene,AAChange.ensGene,FATHMM_score,M-CAP_score,EnsembleRegulatoryFeature,dbscSNV-ada_score,dbscSNV-rf_score,RemapOverlapTF,tfbs
0,A,G,NON_SYNONYMOUS,0.503,0.04,NA,NA,I,T,583,...,"GNB1:NM_001282539:exon5:c.T239C:p.I80T,GNB1:NM...","GNB1:uc031tmu.1:exon5:c.T239C:p.I80T,GNB1:uc05...","GNB1:ENST00000610897.4:exon5:c.T239C:p.I80T,GN...",0.22,0.036,NA,NA,NA,4,NaN
1,T,C,NON_SYNONYMOUS,0.497,0.04,NA,NA,D,G,571,...,"GNB1:NM_001282539:exon5:c.A227G:p.D76G,GNB1:NM...","GNB1:uc031tmu.1:exon5:c.A227G:p.D76G,GNB1:uc05...","GNB1:ENST00000610897.4:exon5:c.A227G:p.D76G,GN...",-2.49,0.653,NA,NA,NA,4,NaN
2,G,A,NON_SYNONYMOUS,0.636,0.12,NA,NA,R,Q,520,...,"KCNAB2:NM_001199860:exon2:c.G35A:p.R12Q,KCNAB2...","KCNAB2:uc001alu.4:exon2:c.G35A:p.R12Q,KCNAB2:u...","KCNAB2:ENST00000164247.5:exon2:c.G35A:p.R12Q,K...",0.84,0.064,NA,NA,NA,4,NaN
3,T,C,NON_SYNONYMOUS,0.411,0.027,NA,NA,L,P,96,...,"PARK7:NM_001123377:exon2:c.T29C:p.L10P,PARK7:N...","PARK7:uc001aou.5:exon2:c.T29C:p.L10P,PARK7:uc0...","PARK7:ENST00000338639.9:exon2:c.T29C:p.L10P,PA...",-2.37,0.312,Promoter,NA,NA,5,NaN
4,T,C,REGULATORY,0.411,0.027,NA,NA,NA,NA,NA,...,"PARK7:NM_001123377:exon2:c.T29C:p.L10P,PARK7:N...","PARK7:uc001aou.5:exon2:c.T29C:p.L10P,PARK7:uc0...","PARK7:ENST00000338639.9:exon2:c.T29C:p.L10P,PA...",-2.37,0.312,Promoter,NA,NA,5,NaN

In [93]:
case = case.replace('null', np.nan, regex=True)
case = case.replace('Null', np.nan, regex=True)
case = case.replace('NA', np.nan, regex=True)
case = case.replace('.', np.nan)
case = case.replace('-', np.nan)
case = case.replace('*', np.nan)

case.to_csv("../analysis/trainingDataSet/slected_pathogenic_Coding_region_only.csv", sep="\t",index=False)

case.head()

,Ref,Alt,Consequence,GC,CpG,motifECount,motifEHIPos,oAA,nAA,cDNApos,...,AAChange.refGene,AAChange.knownGene,AAChange.ensGene,FATHMM_score,M-CAP_score,EnsembleRegulatoryFeature,dbscSNV-ada_score,dbscSNV-rf_score,RemapOverlapTF,tfbs
0,A,G,NON_SYNONYMOUS,0.503,0.04,NaN,NaN,I,T,583,...,"GNB1:NM_001282539:exon5:c.T239C:p.I80T,GNB1:NM...","GNB1:uc031tmu.1:exon5:c.T239C:p.I80T,GNB1:uc05...","GNB1:ENST00000610897.4:exon5:c.T239C:p.I80T,GN...",0.22,0.036,NaN,NaN,NaN,4,NaN
1,T,C,NON_SYNONYMOUS,0.497,0.04,NaN,NaN,D,G,571,...,"GNB1:NM_001282539:exon5:c.A227G:p.D76G,GNB1:NM...","GNB1:uc031tmu.1:exon5:c.A227G:p.D76G,GNB1:uc05...","GNB1:ENST00000610897.4:exon5:c.A227G:p.D76G,GN...",-2.49,0.653,NaN,NaN,NaN,4,NaN
2,G,A,NON_SYNONYMOUS,0.636,0.12,NaN,NaN,R,Q,520,...,NaN,NaN,NaN,0.84,0.064,NaN,NaN,NaN,4,NaN
3,T,C,NON_SYNONYMOUS,0.411,0.027,NaN,NaN,L,P,96,...,"PARK7:NM_001123377:exon2:c.T29C:p.L10P,PARK7:N...","PARK7:uc001aou.5:exon2:c.T29C:p.L10P,PARK7:uc0...","PARK7:ENST00000338639.9:exon2:c.T29C:p.L10P,PA...",-2.37,0.312,Promoter,NaN,NaN,5,NaN
4,T,C,REGULATORY,0.411,0.027,NaN,NaN,NaN,NaN,NaN,...,"PARK7:NM_001123377:exon2:c.T29C:p.L10P,PARK7:N...","PARK7:uc001aou.5:exon2:c.T29C:p.L10P,PARK7:uc0...","PARK7:ENST00000338639.9:exon2:c.T29C:p.L10P,PA...",-2.37,0.312,Promoter,NaN,NaN,5,NaN

In [101]:
case.shape

(77947, 103)

In [94]:

human_drive = pd.read_csv("../analysis/trainingDataSet/human_Drive_cadd_annovar_annotation_uniqe.tsv",sep="\t", converters={i: str for i in range(250)})
human_drive.head()

,Chr,End,Ref,Alt,Type,Length,AnnoType,Consequence,ConsScore,ConsDetail,...,BP4,BP5,BP6,BP7,cosmic70,MCAP,REVEL,regsnp_fpr,regsnp_disease,regsnp_splicing_site
0,16,78208116,G,A,SNV,0,Transcript,INTRONIC,2,intron,...,.,.,.,.,.,.,.,.,.,.
1,16,78215334,T,C,SNV,0,Transcript,INTRONIC,2,intron,...,.,.,.,.,.,.,.,.,.,.
2,16,78220722,A,G,SNV,0,Transcript,INTRONIC,2,intron,...,.,.,.,.,.,.,.,.,.,.
3,16,78221967,G,C,SNV,0,RegulatoryFeature,REGULATORY,4,regulatory,...,.,.,.,.,.,.,.,.,.,.
4,16,78221967,G,C,SNV,0,Transcript,INTRONIC,2,intron,...,.,.,.,.,.,.,.,.,.,.

In [95]:
human_drive = human_drive.loc[human_drive['Ref'].isin(['A','T','G','C'])]

In [96]:
human_drive = human_drive.loc[human_drive['Alt'].isin(['A','T','G','C'])]

In [97]:
human_drive = dd.merge(human_drive,tbfs, how='left', on=['Chr', 'End', 'Ref','Alt']).compute()

In [98]:
coding_human_drive = dd.merge(human_drive, coding_variants_human_drive,how='inner', on=['Chr', 'End', 'Ref','Alt']) 
coding_human_drive.head()

,Chr,End,Ref,Alt,Type,Length,AnnoType,Consequence,ConsScore,ConsDetail,...,MCAP,REVEL,regsnp_fpr,regsnp_disease,regsnp_splicing_site,Start_y,rsid,tfbs,tfbsName,tbfsScore
0,16,78208116,G,A,SNV,0,Transcript,INTRONIC,2,intron,...,.,.,.,.,.,NaN,NaN,NaN,NaN,NaN
1,16,78223503,A,C,SNV,0,Transcript,INTRONIC,2,intron,...,.,.,.,.,.,NaN,NaN,NaN,NaN,NaN
2,16,78226080,T,C,SNV,0,Transcript,INTRONIC,2,intron,...,.,.,.,.,.,NaN,NaN,NaN,NaN,NaN
3,16,78228288,A,G,SNV,0,Transcript,INTRONIC,2,intron,...,.,.,.,.,.,NaN,NaN,NaN,NaN,NaN
4,16,78237299,T,C,SNV,0,Intergenic,DOWNSTREAM,1,downstream,...,.,.,.,.,.,NaN,NaN,NaN,NaN,NaN

In [99]:
control = coding_human_drive[["Ref","Alt","Consequence","GC","CpG","motifECount","motifEHIPos","oAA","nAA","cDNApos",
           "relcDNApos","CDSpos","relCDSpos","protPos","relProtPos","Domain","Dst2Splice","Dst2SplType",
           "minDistTSS","minDistTSE","SIFTcat","SIFTval","PolyPhenCat","PolyPhenVal","priPhCons","mamPhCons",
           "verPhCons","priPhyloP","mamPhyloP","verPhyloP","bStatistic","cHmm_E1","cHmm_E2","cHmm_E3","cHmm_E4",
           "cHmm_E5","cHmm_E6","cHmm_E7","cHmm_E8","cHmm_E9","cHmm_E10","cHmm_E11","cHmm_E12","cHmm_E13",
           "cHmm_E14","cHmm_E15","cHmm_E16","cHmm_E17","cHmm_E18","cHmm_E19","cHmm_E20","cHmm_E21","cHmm_E22",
           "cHmm_E23","cHmm_E24","cHmm_E25","GerpRS","GerpRSpval","GerpN","GerpS","tOverlapMotifs","motifDist",
           "EncodeH3K4me1-max","EncodeH3K4me2-max","EncodeH3K4me3-max","EncodeH3K9ac-max","EncodeH3K9me3-max",
           "EncodeH3K27ac-max","EncodeH3K27me3-max","EncodeH3K36me3-max","EncodeH3K79me2-max","EncodeH4K20me1-max",
           "EncodeH2AFZ-max","EncodeDNase-max","EncodetotalRNA-max","Grantham","SIFT_score","Polyphen2_HDIV_score",
           "Polyphen2_HVAR_score","LRT_score","MutationTaster_score","MutationAssessor_score","LR_score","GERP++_RS",
           "phyloP100way_vertebrate","SiPhy_29way_logOdds","PROVEAN_score","MetaSVM_score","MetaLR_score",
           "integrated_fitCons_score","phyloP20way_mammalian","phastCons100way_vertebrate",
           "phastCons20way_mammalian","AAChange.refGene","AAChange.knownGene", "AAChange.ensGene",
            "FATHMM_score","M-CAP_score","EnsembleRegulatoryFeature","dbscSNV-ada_score",
            "dbscSNV-rf_score","RemapOverlapTF","tfbs"
]]


control.head()

,Ref,Alt,Consequence,GC,CpG,motifECount,motifEHIPos,oAA,nAA,cDNApos,...,AAChange.refGene,AAChange.knownGene,AAChange.ensGene,FATHMM_score,M-CAP_score,EnsembleRegulatoryFeature,dbscSNV-ada_score,dbscSNV-rf_score,RemapOverlapTF,tfbs
0,G,A,INTRONIC,0.503,0.04,NA,NA,NA,NA,NA,...,.,.,.,.,.,NA,NA,NA,NA,NaN
1,A,C,INTRONIC,0.53,0.013,NA,NA,NA,NA,NA,...,.,.,.,.,.,NA,NA,NA,7,NaN
2,T,C,INTRONIC,0.371,0.04,NA,NA,NA,NA,NA,...,.,.,.,.,.,NA,NA,NA,9,NaN
3,A,G,INTRONIC,0.391,0.013,NA,NA,NA,NA,NA,...,.,.,.,.,.,NA,NA,NA,2,NaN
4,T,C,DOWNSTREAM,0.311,0.013,NA,NA,NA,NA,NA,...,.,.,.,.,.,NA,NA,NA,2,NaN

In [100]:
control = control.replace('null', np.nan, regex=True)
control = control.replace('Null', np.nan, regex=True)
control = control.replace('NA', np.nan, regex=True)
control = control.replace('.', np.nan)
control = control.replace('-', np.nan)
control = control.replace('*', np.nan)
control.to_csv("../analysis/trainingDataSet/slected_human_Drive_Coding_region_only.csv", sep="\t",index=False)
control.head()

,Ref,Alt,Consequence,GC,CpG,motifECount,motifEHIPos,oAA,nAA,cDNApos,...,AAChange.refGene,AAChange.knownGene,AAChange.ensGene,FATHMM_score,M-CAP_score,EnsembleRegulatoryFeature,dbscSNV-ada_score,dbscSNV-rf_score,RemapOverlapTF,tfbs
0,G,A,INTRONIC,0.503,0.04,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A,C,INTRONIC,0.53,0.013,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
2,T,C,INTRONIC,0.371,0.04,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
3,A,G,INTRONIC,0.391,0.013,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
4,T,C,DOWNSTREAM,0.311,0.013,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN

In [102]:
control.shape

(1515774, 103)